@charset "utf-8";

body {
	white-space: nowrap;
	display: block; 
	word-break: keep-all;
	white-space: nowrap; 
	margin: 0px;
	margin: 0px;
}

li {
	list-style: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}
.div_div_a1{
	color: #666;
}
.div_1 {
	position: absolute;
	height: 30px;
	width: 100%;
	top: 120px;
	left: 0px;
	background-color: #4B6EA8;
	border: 0px solid #FF00CC;
	background-repeat: repeat-x;
	font-size: 0.8em;
	z-index: 2;
}

.h3_1 {
	position: absolute;
	top: -18px;
	left: 24px;
	color: #000;
	font-weight: lighter;
	background-color: #FFFFFF;
	height: 102%;
	text-align: center;
	border: 1px solid #000000;
	line-height: 0px;
	padding: 15px 15px;
}

.div1_ul_2 {
	border: 1px solid #cccccc;
	width: 230px;
	height: 30px;
	float: right;
	position: relative;
	clear: both;
	top: -5px;
	left: -20px;
	background-image: url(../../IMG/xmw/navig.png);
	border-radius: 4px;
	margin-top: 0px;
	clear: both;
}

.div1_ul_2 li {
	float: left;
	font-size: 0.7em;
	color: #666;
	border: 0px solid #000000;
	margin: 5px;
	border-right: 1px solid #ccc;
	text-align: left;
	line-height: 22px;
}

.div1_ul_1 li {
	float: left;
	font-size: 0.8em;
	line-height: 70px;
	text-align: center;
	padding-left: 12px;
	color: #FFFFFF;
	font-weight: bolder;
}

.div1_ul_1 {
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 50px;
	position: absolute;
	top: -20px;
	left: 20px;
	border-radius: 4px;
	background-image: url(../../IMG/xmw/ship.png);
	border: 1px solid #336699;
}

.gation {
	position: absolute;
	top: 80px;
	left: 50%;
	width: 375px;
	height: 100px;
	margin-top: -50px;
	margin-left: -200px;
	border: 0px solid red;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}

.gation_div1 {
	position: absolute;
	top: -10px;
	left: -35px;
	z-index: 1;
}

.gation_div1 ul {
	border: 0px solid #666666;
}

.gation_div1 li {
	float: left;
	font-size: 0.7em;
	height: 15px;
	text-align: left;
	margin-right: 2px;
	width: 65px;
	border-right: 1px solid #CCCCCC;
	line-height: 12px;
	margin-left: 4px;
	color: #979797;
}

.gation_div2 {
	border: 0px solid #ccc;
	width: 355px;
	position: relative;
	top: 24px;
	word-break: break-all;
	height: 37px;
	border-radius: 4px;
}

.gation_input1 {
	width: 325px;
	height: 34px;
	position: absolute;
	left: 6px;
	z-index: 2;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	padding-left: 7px
}

.gation_input2 {
	padding: 0px;
	margin: 0px;
	border-radius: 4px;
	position: absolute;
	top: 0px;
	left: 336px;
	z-index: 1;
	border: 1px solid #0099CC;
}

#daohan {
	color: #6C6C6C;
	font-weight: bold;
}

.div_div1 {
	position: relative;
	top: 120px;
	left: 70px;
	border: 0px solid #2D2D2D;
	width: 180px;
	height: 30px;
	border: 0px solid #2E0067;
	z-index: 3;
}

.div_div2 {
	position: absolute;
	width: 99.8%;
	height: 110%;
	top: 120px;
	background-color: #F7F7F7;
}

.td_1 img {
	height: 30px;
}

.table {
	width: 180px;
	border: 0px solid #7F7FFF;
	font-size: 0.8em;
}

.div_2-1 {
	position: absolute;
	left: 69px;
	top: 30px;
	text-align: center;
	border-right: 1px solid #2A1FFF;
	border-left: 1px solid #2A1FFF;
	border-bottom: 1px solid #2A1FFF;
	z-index: 3;
}

td img {
	width: 23px;
	height: 23px;
}

.tr_1 {
	background-color: #EEEEEE;
	color: #949494;
}

.dl1_dd1_color {
	color: #FF6633;
}

.div_dl1 {
	width: 75px;
	border: 0px solid #D40000;
	text-align: center;
	font-size: 0.6em;
	margin-top: 20px;
}

dd {
	position: relative;
	left: -26px;
	margin-top: 3px;
	color: #6C6C6C;
}

dl:hover {
	cursor: pointer;
}

.div_dl1_flot {
	margin-top: 10px;
}

.div3_div1_dl {
	position: relative;
	top: 20px;
	width: 70px;
	z-index: 1;
}

.ul1 {
	border: 0px solid #00FFFF;
	position: relative;
	height: 70px;
	width: 100%;
}

.ul1 li {
	float: left;
	margin: 4px;
	height: 35%;
	font-size: 0.8em;
	width: 35%;
	text-align: center;
	padding-top: 3%;
	color: #fff;
	background-color: #4B6EA8;
	border-radius: 4px;
	transition: 0.3s;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.ul1 li:hover {
	background-color: #3399FF;
	font-size: 14px;
	transform: scale(1.2);
}

.div3_div2_ul {
	border: 0px solid #6600FF;
	position: absolute;
	top: 2px;
	width: 40%;
	height: 50px;
	left: 288px;
	border: 0px solid #99CCCC;
}

.div_4_div {
	border:0px solid #000000;
	position: absolute;
	width: 94%;
	height: 95%;
	left: 70px;
	z-index: 1;
	top: 0px;
}

.div_5_div {
	border: 0px solid #000000;
	position: absolute;
	width: 94%;
	height: 95%;
	left: 70px;
	z-index: 1;
	top: 30px;
}

.div_6_div {
	border: 0px solid #000000;
	position: absolute;
	width: 94%;
	height: 95%;
	left: 70px;
	z-index: 1;
	top: 00px;
}

.iframe_1_1 {
	position: absolute;
	top: 80px;
	height: 85%;
	width: 68%;
	left: 0px;
	background-color: #FFFFFF;
	border: 1px solid #999;
}

.iframe_2 {
	float: right;
	border: 1px solid #999;
	width: 30%;
	height: 40%;
	margin-left: 80px;
	position: relative;
	top: 80px;
}


.iframe_3 {
	position: relative;
	top: 80px;
	width: 98.5%;
	height: 85%;
	border: 1px solid #A0A0A4;
}

.iframe_1_2 {
	position: absolute;
	top: 80px;
	height: 85%;
	width: 98.5%;
	left: 0px;
	border: 0px solid #999;
}

#iframe_2_1 {
	float: right;
	border: 1px solid #999;
	width: 30%;
	height: 40%;
	margin-left: 80px;
	position: relative;
	top: 56.5%;
	left: 36.5%;
}

span {
	float: right;
}